.song-row {
  margin-left: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  z-index: 100;
  color: #fff;
}

.song-row:hover {
  cursor: pointer;
  background-color: #000;
  opacity: 0.8;
}

.info {
  margin-left: 20px;
}

.info h1 {
  font-size: 16px;
  margin-right: 10px;
}

.info p {
  font-size: 14px;
  margin-top: 3px;
  color: grey;
}

.album {
  height: 40px;
  width: 40px;
}
